<div class="grid place-items-center h-screen">
    <nav class="w-2/3 md:w-1/4">
        <ul class="grid grid-cols-1 auto-rows-auto gap-y-4">
            <li>
                <a routerLink="stats" title="Stats" class="btn-menu h-16 py-2">
                    Statistiques
                </a>
            </li>
            <li>
                <a routerLink="pokedex" title="Stats" class="btn-menu h-16 py-2">
                    Pokedex
                </a>
            </li>
            <li>
                <a routerLink="dhana" title="Stats" class="btn-menu justify-between">
                    <span>Dhana</span>
                    <img src="assets/landing/dhana.png" alt="Dhana" class="btn-icon" />
                </a>
            </li>
        </ul>
    </nav>
</div>