<h2 class="font-bold text-sm uppercase bg-indigo-100 leading-6 pl-2">Weakness</h2>
<div class="font-athiti">
    <div *ngFor="let detail of details">
        <div class="flex" *ngFor="let type of detail.damage_relations.double_damage_from">
            <h2 [class]="getTypeColor(type.name) + ' w-3/4'" class="text-center font-vt">{{ type.name | uppercase }}</h2>
            <h2 class="flex-grow text-center">{{ calcWeakness(type.name) }}</h2>
        </div>
    </div>
</div>

<h2 class="font-bold text-sm uppercase bg-indigo-100 leading-6 mt-4 pl-2">Resistance</h2>
<div class="font-athiti">
    <div *ngFor="let detail of details">
        <div class="flex" *ngFor="let type of detail.damage_relations.half_damage_from">
            <h2 [class]="getTypeColor(type.name) + ' w-3/4'" class="text-center font-vt">{{ type.name | uppercase }}</h2>
            <h2 class="flex-grow text-center">{{ calcWeakness(type.name) }}</h2>
        </div>
    </div>
</div>